<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testapp.speedometer.service">

    <application android:allowBackup="true">
        <service
            android:name=".GenerateService"
            android:process=":generate"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>